name: Checkin for Glados
on:
  push:
    branches: [master]
  schedule:
    - cron: "45 0 * * *"

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run checkin script
        run: |
          pwsh glados.ps1
        env:
          GLADOS_COOKIE: ${{ secrets.GLADOS_COOKIE }}
